<div id="joinContainer" class="container">
	<form class="form-signin joinForm" name="joinForm" role="form">
		
		<h2 class="form-signin-heading text-center">Join game</h2>
		<label for="userName" class="sr-only">Username</label>
		<input id="userName" class="form-control" ng-model="userName" 
				placeholder="Username" tabindex="1" required ng-required="true">

		<div class="alert alert-danger" role="alert" ng-show="nameTaken">
			<a href="#" class="alert-link">Username already taken</a>
		</div>

		<button id="joinGame"class="btn btn-lg btn-primary btn-block"
		type="submit" ng-click="joinGame()" ng-disabled="joinForm.$invalid">Join</button>
		
	</form>
</div>