<div id="createContainer" class="container">
	<form class="form-signin createForm" name="createForm" role="form">

		<h2 class="form-signin-heading text-center">Create game</h2>
		<label for="gameName" class="sr-only">Name</label>
		<input id="gameName" class="form-control" ng-model="gameName" 
				placeholder="Gamename" required ng-required="true" autofocus>

		<label for="userName" class="sr-only">Username</label>
		<input id="userName" class="form-control" ng-model="userName" 
				placeholder="Username" required ng-required="true">

		<button id="createGame"class="btn btn-lg btn-primary btn-block" ng-click="createGame()"
					ng-disabled="createForm.$invalid">Create</button>
		
	</form>
</div>