.ticrow{
  display: inline-block;
}

.ticcell{
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 4px;
  border-radius: 15px;
  background-color: #A67360;
  text-align: center;
  vertical-align: middle;
  color: #98262F;
  font-size: 55px;
  font-weight: 600;
}

.ticcell:hover{
  background-color: #73473D;
  color: #D9C7B8;
}


.myturn,
.notmyturn { 
max-width: 275px;
  margin: 0 auto;
  }

.myturn{
  background-color: #8ec799;
}

.notmyturn{
  background-color: rgba(232, 181, 16, 0.51);
}

.board{
  display: block;
  
  border-radius: 15px;
  padding: 5px 5px 5px 5px;
  width: 275px;
  height: 275px;
  cursor: pointer;
  background-color: #D9C7B8;
  margin: 10px auto;
}

#tictactoeContainer {
  max-width: 500px;
}

