<div id="tictactoeContainer" class="container">
  
  <div class="text-center">
    <h3>Game on - {{gameState.name || 'NoName'}} </h3>
    <div>
      <a id="joinlink" target="_new" href="{{joinUrl}}" ng-show="!other">Send this link to your opponent.</a>
    </div>
    <div ng-hide="gameState.winner || gameState.draw">
      <div  ng-class="{myturn:myTurn()}"><strong>{{myside}}:</strong>
      <span id="myname">{{ me.userName }}</span></div>
      <div  ng-class="{notmyturn:!myTurn()}"><strong>{{otherside}}:</strong>
        <span id="opponentname">{{ other.userName }}</span>
      </div>
    </div>
    <div ng-class="{'winner':gameState.winner}" ng-show="gameState.winner">
      <strong>{{ gameState.winner.side }} - {{ gameState.winner.userName }} WINS!</strong>
    </div>
    <div class="draw" ng-show="gameState.draw">
      <strong>GAME DRAW!</strong>
    </div>
    <div id="gameboard" class="board">
      <div class="ticrow" ng-repeat="row in gameState.board" ng-init="x=$index">
        <div class="ticcell" ng-class="cell + ' x' + x + 'y' + y" ng-repeat="cell in row track by $index" ng-init="y=$index"
          ng-click="placeMove([x,y])">
          {{cell}}
        </div>
      </div>
    </div>
  </div>
</div>